<!-- /desktop/src/components/_modal-template.html -->
<div id="genericModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="modal-close">&times;</span>
            <h2 id="genericModalTitle">Modal Başlığı</h2>
        </div>
        <div class="modal-body" id="genericModalBody">
            <!-- İçerik buraya dinamik olarak yüklenecek -->
        </div>
        <div class="modal-footer" id="genericModalFooter">
            <button type="button" class="btn btn-secondary" id="genericModalCloseBtn">Kapat</button>
            <button type="button" class="btn btn-primary" id="genericModalSaveBtn">Kaydet</button>
        </div>
    </div>
</div>
